<button mat-raised-button
        [style.background-color]="btnColour"
        (click)="changeBtnColour()">
  Change colour
</button>
User: {{uniqueID}}
<div>
  <div>
    <input type="text" [value]="inputText"
            (input)="inputText=$event.target.value" (keydown.enter)="sendText()" placeholder="Type a text" />
    <button type="button" (click)="sendText()">Send text</button>
  </div>

  Logs:
  <div *ngFor="let msg of messages">
    {{msg.date | date:'short'}}: User {{msg.clientUniqueId}} - {{msg.message}}
  </div>
</div>
